name: CI Pipeline

on:
  pull_request:
  push:
    branches: [ master ]

jobs:

  # -------------------------
  # Merge Conflict Check
  # -------------------------
  merge-conflict-check:
    runs-on: ubuntu-latest
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Check for merge conflicts
        run: |
          git fetch origin master
          git merge --no-commit --no-ff origin/master || exit 1
          git merge --abort

  # -------------------------
  # Build (Maven)
  # -------------------------
  build:
    runs-on: ubuntu-latest
    needs: merge-conflict-check
    permissions:
      security-events: write
      actions: read
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '24'

      - name: Build with Maven
        run: mvn clean compile

  # -------------------------
  # CodeQL Analysis
  # -------------------------
  codeql:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      security-events: write
      actions: read
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: java

      - name: Build for CodeQL
        run: mvn clean compile

      - name: Perform CodeQL Analysis
        uses: github/codeql-action/analyze@v3

  # -------------------------
  # Tests (JUnit)
  # -------------------------
  # Tests (JUnit)
  test:
    permissions:
      security-events: write
      actions: read
      contents: read
    runs-on: ubuntu-latest
    needs: codeql
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '24'

      - name: Run Tests
        run: mvn test
